/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

li {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

* {
  box-sizing: border-box;
}

.search-form {
  display: flex;
  gap: 24px;
}

.search-input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  padding: 8px 16px;
  min-width: 272px;
  border-radius: 4px;
  border: 1px solid #808080;
  transition: border-color 250ms ease-in-out;
}

.search-input:hover,
.search-input:focus {
  border-color: #000000;
}

.search-btn {
  padding: 8px 16px;

  border: none;
  border-radius: 8px;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  color: #ffffff;
  background-color: #4e75ff;

  transition: background-color 250ms ease-in-out;
}

.search-btn:hover,
.search-btn:focus {
  background-color: #6c8cff;
}

.cards {
  margin: 0 auto;
  max-width: 1128px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  outline: 1px solid black;
}

.card-item img {
  min-width: 100%;
  max-height: 200px;

  object-fit: cover;
}

.card-info {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  text-align: center;
}

.card-info p {
  font-weight: normal;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #000000;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader.is-hidden {
  display: none;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #ff3d00;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
